<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">



<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://192.168.20.152:3306/training_vrunda</property>
        <property name="hibernate.connection.username">vrunda</property>
        <property name="hibernate.connection.password">6YbmgKcd</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
      <property name="hibernate.hbm2ddl.auto">update</property> 
         <property name="show_sql">true</property>
        
        <mapping class="com.tatvasoft.model.User"/>
       <!--  <mapping class="com.tatvasoft.model.UserDeatils"/> -->
        
    </session-factory>
 
</hibernate-configuration>